/* Dynamic css render */
/*
     FILE ARCHIVED ON 03:37:43 Jun 18, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:12:21 Aug 09, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 126.008
  exclusion.robots: 0.119
  exclusion.robots.policy: 0.109
  RedisCDXSource: 6.533
  esindex: 0.009
  LoadShardBlock: 101.469 (3)
  PetaboxLoader3.datanode: 126.952 (4)
  CDXLines.iter: 15.67 (3)
  load_resource: 85.139
  PetaboxLoader3.resolve: 36.648
*/