.elementor-kit-7{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-c8edd1e:#640083;--e-global-color-58c5eac:#1C1C1C;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;font-family:"Oxygen", Sans-serif;}.elementor-kit-7 a{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h1{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h2{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h3{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h4{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h5{font-family:"Oxygen", Sans-serif;}.elementor-kit-7 h6{font-family:"Oxygen", Sans-serif;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}
/*
     FILE ARCHIVED ON 20:53:25 Jul 09, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:06:07 Aug 09, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 122.679
  exclusion.robots: 0.156
  exclusion.robots.policy: 0.145
  RedisCDXSource: 0.658
  esindex: 0.008
  LoadShardBlock: 96.351 (3)
  PetaboxLoader3.datanode: 84.56 (4)
  CDXLines.iter: 22.408 (3)
  load_resource: 246.424
  PetaboxLoader3.resolve: 233.773
*/